:root{
    --clr-primary-200: #f3eed9;
    --clr-primary-400: #824936;

    --clr-neutral-100: #fff;
    --clr-neutral-900: #222c2a;

    --ff-primary: "InriaSans", url('fonts/InriaSans-Regular.ttf');
    --ff-accent: "Satisfy", url('fonts/Satisfy-Regular.ttf'); 
}

*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 21px;
    line-height: 1.0;
}

h1,
h2,
h3{
    color: var(--clr-primary-400);
    font-family: var(--ff-accent);
    font-weight: 900;
    line-height: 1;
}
h2,h3,p{
    margin-bottom: 1em
}
.text-center{
    text-align: center;
}

img{
    display: block;
    max-width: 100%;
}

.bg-light{
    background-color: var(--clr-primary-200);
}

.bg-primary{
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-400);
}

.bg-dark{
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-900);
}

.bg-primary h2,
.bg-dark h2{
    color: var(--clr-primary-200);
}

.container{
    margin-inline: auto;
    width: min(90%,70.5rem);
}

.container--narrow{
    max-width: 34rem;
}

.columns-2{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 40em){
   .columns-2{
       flex-direction: row;
   }
   .columns-2 > *{
       flex-basis: 100%;
   }
   .columns-2 > * + *{
       margin-left: 2em;
   }
   header,section{
	padding: 4rem 0;
	@media (min-width: 40em){
	header, section{
	padding: 7em 0;
	}
	}

}
}
